span{
    
}
.timer{
    display: flex;
    
}
.field{
    display: flex;
    flex-direction: column;
    margin-left: 10;
}

.value{
    font-size: 40PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}